@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  overflow: hidden;
}

.leaflet-tooltip-dark {
  background: #1f2937;
  border: 1px solid #374151;
  color: #f9fafb;
  border-radius: 6px;
  font-size: 12px;
}

.leaflet-container {
  background: #111827;
}
